body {
  background-color: #004E89;
  padding: 50px 60px;
  font-family: sans-serif;
  text-align: left;
  max-width: 800px;
  margin: auto;
  color: white;
}

h1, img, #first-h2 {
  text-align: center;
}
